/*.signIn {
  block-size: 100vh;
}

.signinPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  block-size: 100vh;
  padding-top: 10vh;
  gap: 20px;
}

.signinPage p {
  margin: 0;
}

/* .formContentSignIn input {
  background: white;
  border: 1px solid black;
  border-radius: 7px;
  padding: 8px 10px;
} 

.formContentSignIn button {
  padding: 10px 20px;
  background: #0165fc;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  border-radius: 7px;
}

.formContentSignIn p {
  font-size: 15px;
}

.formContentSignIn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  inline-size: 100%;
}

.formContentSignIn .forgotPassword {
  text-align: end;
  text-decoration: underline;
}

.googleSignIn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.formContentSignIn .signUp p {
  font-size: 14px;
  text-align: center;
}

.formContentSignIn .signUp p span {
  font-weight: bold;
  color: #0165fc;
}

.signinPage .signinHeader {
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

.signinPage .welcomeCont {
  font-size: 14px;
  text-align: center;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
}

.termsCond {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}

.termsConditionsCont {
  text-align: justify;
  text-indent: 2rem;
}

.continueButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: 20%;
  margin-inline-end: 20%;
}

.continueButton ion-icon {
  font-size: 20px;
  padding-inline-start: 10px;
}
*/

.signIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  block-size: 100%;
  inline-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.signIn>img{
  block-size: 6rem;
  inline-size: 6rem;
  margin: 1.5rem 0;
}

.signInWelcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 0 0;
  color: #0c436c;
  font-weight: bold;
}

.signInWelcome>h2{
  font-size: 1.5rem;
}

.signInInputField{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 0.8rem;
  padding: 1.5rem 1rem 3rem 1rem;
  inline-size: 80%;
}

@media (max-width: 400px) {
  .signInInputField {
    padding: 1.5rem 1rem 0.5rem 1rem;
  }
}

.signInFooter{
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem 0rem 1rem;
}

.signInButton{
  padding: 1rem 6rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  border-radius: 0.6rem;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
  /*-webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);*/
}

.signInFooter>p{
  color: #0c436c;
  font-weight: bold;
  font-size: 1.2rem;
}

.signInFooter>p>span{
  color: #2dabff;
}

.signInModalDescription{
  margin: 0 0.5rem;
  color: white;
  
}

ion-modal#signInModal {
  --height: 75%;
  --border-radius: 30px 30px 0 0;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --background: rgb(177,235,255);
  --background: linear-gradient(45deg, rgba(177,235,255,1) 0%, rgba(255,255,255,1) 14%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 62%, rgba(255,255,255,1) 73%, rgba(177,235,255,1) 100%);
  --background-size: contain;
  align-items: flex-end;
  padding: 0 1%;
}

ion-modal#signInModal::part(backdrop) {
  background: rgba(0, 0, 0, 0.3); /* Darker semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect */
}


ion-modal#signInModal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}