.p-password-input {
    color: #0c436c;
    border: none;
    padding: 0;
    background-color: transparent;
  }
  
  .p-password-input {
    color: #0c436c;
    border: none;
    padding: 0;
    background-color: transparent;
  }
  
  .changePassSubmitButton {
    width: 85%;
    height: 5vh;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background: var(--gradient-background-02)
}