/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
* {
  scrollbar-width: none;
}

.ripple-parent {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}