.questionsParent {
    inline-size: 100%;
    block-size: 100vh;
    color: #0c436c;
    font-size: 1.2rem;
    padding: 5% 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.questionsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding-bottom: 1rem;
    padding: 0 5% 2% 5%;
}

.questionsList {
    padding: 0 5% 0 5%;
    overflow: scroll;
    height: 85vh;
}

.questionText {
    font-size: 1rem;
    font-weight: 600;
}

.questionSubmitButton {
    width: 85%;
    height: 5vh;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background: var(--gradient-background-02)
}

.questionSubmitButton.disabled {
    background: linear-gradient(160deg, #d3d3d3, #e0e0e0);
    /* Gray for disabled */
    color: #a0a0a0;
    /* Lighter text color */
    cursor: not-allowed;
}


/*
.questionsbuttonGroup_YesNo{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: flex-start; 
}

.questionsYesNoOptions{
    flex: 1 1 calc(50% - 10px); 
    max-width: calc(50% - 10px);
    box-sizing: border-box;
    padding: 0.5rem 2rem;
    background: var(--gradient-background-02-opacity);
    border-radius: 5px;
    color: #0c436c;
    text-align: center;
}
*/

.questionsbuttonGroup_01 {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.questionsTextOptions_01 {
    width: 95%;
    padding: 0.75rem 2rem;
    background: var(--gradient-background-02-opacity);
    border-radius: 5px;
    color: #0c436c;
    text-align: center;
    font-weight: 700;
}

.questionsbuttonGroup_01>.selected {
    background: var(--gradient-background-02) !important;
    color: #a4d6f5
}


ion-modal#questionsModal {
    --height: auto;
    --border-radius: 20px;
    --background: rgb(239, 250, 255);
    --background-size: contain;
    align-items: center;
    padding: 0 5%;
}

ion-modal#questionsModal::part(backdrop) {
    background: rgba(0, 0, 0, 0.3);
    /* Darker semi-transparent background */
    backdrop-filter: blur(10px);
    /* Apply blur effect */
}

ion-accordion-toggle-icon ios{
    margin: 0;
}

.questionsAccordion>ion-accordion-group{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    overflow: scroll;
}

.questionsAccordion>ion-accordion-group>ion-accordion{
    background-color: transparent;
}

.questionsAccordion>ion-accordion-group>ion-accordion>ion-item::part(native) {
    background: linear-gradient(135deg, rgba(198,231,252,1) 0%, rgba(196,231,250,1) 97%);
    border-radius: 5px;
    color: #1764b7;
    font-weight: 500;
}

.questionsAccordion>ion-accordion-group>ion-accordion>div{
    background-color: transparent;
    
}

.questionsAccordion>ion-accordion-group>ion-accordion>div>ion-content{
    block-size: 65vh;
}