.pastReport{
    color: #0c436c;
    block-size: 92vh;
    inline-size: 100%;
    overflow: scroll;
}

.pastReport_toolBar{
    background-color: #b8e1ff;
    inline-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
}

.pastReport_toolBar>button{
    background-color: transparent;
    color: #0c436c;
}

.pastReport_MainCategory{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 1rem 0;
    margin: 0 auto;
}

.pastReport_MainCategory>div{
    padding: 1rem 0.3rem;
    background-color: #b8e1ff;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 10px;
    min-width: 5rem;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.pastReport_MainCategory > div.selectedTab {
    background: var(--gradient-button-01); 
    color: white;
  }

.pastReport_AccordionContent{
    inline-size: 90%;
    height: auto;
    margin: 0 auto;
}

.pastReport_AccordionContent>ion-accordion-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: scroll;
}

.pastReport_AccordionContent>ion-accordion-group>ion-accordion{
    background-color: transparent;
}

.pastReport_AccordionContent>ion-accordion-group>ion-accordion>ion-item::part(native) {
    background: #b8e1ff;
    border-radius: 10px;
    color: #0c436c;
    font-weight: 500;
}

.pastReport_AccordionContent>ion-accordion-group>ion-accordion>div{
    background-color: transparent;
    color: #0c436c;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.pastReport_AccCont{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.pastReport_AccCont_div1{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
    font-size: medium;
}

.pastReport_AccCont_div2{
    width: 85%;
    margin: 0 auto;
}

.pastReport_AccCont_div2_list{
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.pastReport_AccCont_div2_sublist {
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
}

.pastReport_AccCont_Treatment_div2{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}

.pastReport_AccCont_Treatment_div2>div{
    display: flex;
    justify-content: space-between;
}