/* primary color - #1c70b0 -- blue */
/* primary color - #33b725 -- green */
*{
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/*
ion-segment {
  inset-block-end: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  z-index: 100;
  --background: #f7f7f7;
  position: fixed;
}
  */

ion-content {
  block-size: 100vh;
}

ion-searchbar {
  background-color: #f7f7f7;
}

/*
ion-segment-button {
  padding: 7px;
}

ion-segment-button ion-label {
  font-size: clamp(13px, 1.5vw, 16px);
}

ion-segment-button ion-icon {
  font-size: 24px;
}
*/

.p-inputtext:focus,
.p-password input:focus,
.p-dropdown:focus,
.p-calendar input:focus,
.p-inputgroup input:focus,
.p-multiselect:focus,
textarea:focus {
  border-color: #6b7280;
  box-shadow: none;
  outline: none;
}

.p-button:focus {
  box-shadow: none;
  outline: none;
}

.p-checkbox:not(.p-disabled):has(.p-checkbox-input:hover).p-highlight
  .p-checkbox-box {
  border-color: #6b7280;
  background-color: black;
}

ion-tab-button {
  color: black;
}

ion-checkbox {
  --checkbox-background-checked: black;
}

ion-checkbox::part(container) {
  border: 1px solid black;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.p-password.p-component.p-inputwrapper.p-input-icon-right
  .p-icon-field.p-icon-field-right,
.p-password.p-component.p-inputwrapper.p-input-icon-right
  .p-icon-field.p-icon-field-right
  .p-password-input.p-inputtext.p-component {
  inline-size: 100%;
  border-start-start-radius: 0px;
  border-end-start-radius: 0px;
}

.changePasswordBtn .button-native {
  background-color: transparent;
}

/* ION TAB ROUTE HEIGHT */
ion-tab-bar {
  height: 7vh;
}

.gradientButton01{
  background: linear-gradient(57deg, rgba(14,149,231,1) 0%,rgb(3, 118, 199) 100%);
}

.gradientButton02{
  background: linear-gradient(230deg, rgb(15, 149, 232) 0%,rgb(3, 117, 198) 100%);
}

.gradientBackground02{
  background: linear-gradient(-167deg, rgb(15, 149, 232) 0%,rgb(3, 117, 198) 100%);
}

.gradientBackground02_opacity{
  background: linear-gradient(-167deg, rgba(15, 149, 232, 0.35) 0%,rgba(3, 117, 198, 0.35) 100%);
}

.medpredit-page-background {
  background-image: url('../src/assets/images_new/BACKGROUND-02.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
